@charset "utf-8";

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    height: 100%;
}

main section {
    background-color: rgb(44,47,51);
}

#dab {
    height: 100px;
    margin: 25% auto;
    display: block;
}

#light {
    display: none;
    position: absolute; 
    background-color: rgba(44,47,51, 0.9);
    width: 100%;
    height: 100%;
    z-index: 999;
}

#light img {
    display: block;
    margin: 3px auto;
    border-radius: 3px;
}

#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#slide img {
    width: 99%;
}

#slide p {
    color: white;
    position: absolute;
    z-index: 1;
    user-select: none;
    padding: 70px 0;
    font-size: 30px;
    transition: 0.25s;
}

#prev {
    margin-left: -15%;
    margin-top: auto;
    margin-bottom: auto;
}

#next {
    margin-left: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

#slide p:hover {
    background-color: rgba(199, 199, 199, 0.1);
    
}

#seiz {
    transition: 1.4s;
    text-align: center;
}

#seiz p {
    color: white;
    transition: 4s;
}

#time {
    transition: 2s;
}

#time p {
    transition: 2s;
    user-select: none;
    font-size: 20px;
    text-align: center;
}


#clicker p {
    position: absolute;
    z-index: 1;
    color: white;
    user-select: none;
}

#clicker input {
    position: relative;
    height: 20px;
    z-index: 99;
}
