@charset "utf-8";

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    height: 100%;
}

section {
    background-color: blue;
}

#dab {
    height: 100px;
    margin: 25% auto;
    display: block;
}

#light {
    display: none;
    position: absolute; 
}

#light img {
    margin: auto 25%;
    display: block;
}