@charset "utf-8";

body {
    background-color: #2c2f33;
}

.some-class {
    color: orange;
    letter-spacing: 2px;
    transform: rotate(180deg);
    font-style: italic;
}

.another-class {
    color: red;
    transform: rotate(4deg);
}

.toggleBG {
    background-color: red;
}